@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
 &::-webkit-scrollbar{
  display: none;
 }
}
a,h2{
  color: white;
}
a {
  text-decoration: none;
}
$bg: black;

.header {
  height: 40px;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  > img {
    height: 90%;
  }
  > div {
    width: 100%;
    margin-left: 4vmax;
    > a {
      margin: 2vmax;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  > svg {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: rgb(15, 235, 114);
    }
  }
}
